@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.Desloguear != null)
{
    
    <a href="./desloguearse">desloguearse</a>
    <span>estoy autorizado</span>
}
 